.navbar-drawer {
  width: 300px;

  &--header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h6 {
      padding-left: 15px;
    }
  }
}
